#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /* 确保背景在内容后面 */
    background-color: transparent; /* 确保背景透明以显示粒子 */
    pointer-events: none; /* 防止粒子背景阻挡鼠标操作 */
}
